{
  "presets": [
    "env",
    "react",
    "es2015",
    "stage-3",
    "babel-preset-env"
  ],
  "plugins": [
    "inline-react-svg",
    "transform-class-properties",
    "transform-decorators-legacy",
    "react-hot-loader/babel", // Enables React code to work with HMR.
    [
      "module-resolver", {
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-webpack-alias"
        ]
      ]
    }
  }
}